# Mbed OS
*.mbed
mbed-os
*mbed-os.lib
*mbed_settings.*
BUILD
*mbed_config.h
*MakeFile
*GettingStarted.html

# Eclipse
.metadata
RemoteSystemsTempFiles
*.cproject
*.project
*.classpath

# Visual Studio Code
.vscode

# Microsoft Office Lock Files
*~$*